/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

* {
  font: 'Noto Serif';
  text-decoration: none;
}

.todo-list {
  display: flex;
  justify-content: space-around;
  max-width: 600px;

  > li {
    padding-bottom: 20px;
  }
}

.todo-list-item-title {
  padding-right: 25px;
}

#root {
  margin-left: 50px;
}

.todo-list-item{
  display: flex;
  font-size: 18px
}

.todo-form {
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
  padding: 20px;
  font-size: 18px;
}

.todo-form-header {
  font-size: 24px;
  padding-bottom: 10px;
}

label {
  padding-bottom: 10px;
}

.create-todo-button {
  max-width: 200px;
}
