/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

input, textarea, button {
  max-width: 90%;
  width: 90%
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  text-align: center;
}

.todo-form {
  width: 33%
}

* {
  font: 'Noto Serif';
  text-decoration: none;
}

.todo-list {
  display: flex;
  justify-content: space-around;
  margin-left: 25px;
  margin-right: 25px;
}

.todo-list ul {
  width: 50%
}

.todo-list > li {
  color: red;
}

.todo-list-item button {
  width: 15%;
}

.todo-list form {
  width: 50%;
  height: 70%
}


.todo-list-item-link {
  padding-right: 25px;
  padding-left: 25px;
}


.todo-list-item{
  display: flex;
  font-size: 18px
}

.todo-form {
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
  padding: 20px;
  font-size: 18px;
}

.todo-form-header {
  font-size: 24px;
  padding-bottom: 10px;
  text-align: center
}

label {
  padding-bottom: 10px;
}
